<!DOCTYPE html>
<html lang="sr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <meta name="google" content="notranslate" />
        <meta http-equiv="Content-Language" content="sr" />


        <!-- syntax highlighting CSS 
        <link rel="stylesheet" href="/css/syntax.css"> -->

        <!-- Custom CSS 
        <link rel="stylesheet" href="/css/main.css"> -->

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

        <!-- Optional theme -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

    </head>
    <body>

        <div class="site">
          <div class="jumbotron">
            <h1 >{{ site.name }}</h1>
            <a class="extra" href="/">вести</a>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                СРПСКИ ПРАВНИЧКИ КЛУБ<br />
                НОВИ САД<br />
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="http://srpskipravnickiklub.rs">srpskipravnickiklub.rs</a><br />
                <a href="mailto:kontakt@srpskipravnickiklub.rs">kontakt@srpskipravnickiklub.rs</a><br />
              </p>
            </div>
          </div>
        </div>

    </body>
</html>
